<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.nambang.hugi.mapper.HugiMapper">
	<insert id = "hugiUpdate" parameterType="co.nambang.hugi.vo.HugiVO">
		insert into hugi_ck(hugi_content,
                        hugi_image,
                        user_id,
                        product_code,
                        op_no)
		values(	#{hugiContent},
		        #{hugiImage},
		        #{userId},
		        #{productCode},
		        #{opNo}
		)
	</insert>
	
</mapper>