<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.nambang.detail.mapper.ProDetailMapper">
	<select id="selectList" resultType="co.nambang.product.vo.ProductVO">
		select *
		from products_ck
		where product_code = #{proCode}
	</select>
	
	<insert id="insertZzim" parameterType="co.nambang.zzim.vo.ZzimVO">
		insert into zzim_ck(zzim_no,product_code,user_id)
		values (zzim_seq.nextval,#{proCode},#{userId})
	</insert>
	
	<insert id="insertCart" parameterType="co.nambang.cart.vo.CartVO">
		MERGE into cart_ck
		using dual
		on (product_code = #{proCode})
		when matched then
		    update set cart_volume = cart_volume + #{cartVolume}
		when not matched then
		    insert (cart_no,cart_volume,user_id,product_code)
		    values (cart_seq.nextval,#{cartVolume},#{userId},#{proCode})
	</insert>
	
	<select id="hugiList" parameterType="co.nambang.hugi.vo.HugiVO">
		select A.hugi_no, A.hugi_content, A.hugi_date, A.user_id, A.product_code, A.op_no, B.user_name, C.product_name, C.company
		from member_ck B 
            join hugi_ck A 
				on B.user_id = A.user_id 
            join products_ck C
                on A.product_code = C.product_code
		where A.product_code = #{proCode}
		order by A.hugi_no desc
	</select>
	

</mapper>