<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="co.nambang.mypage.mapper.mypageMapper">
  	
  	
  	<update id = "mypageChange" parameterType="co.nambang.mypage.vo.mypageVO">
  		update member_ck 
		set user_pw = #{userPw},
     	      user_name = #{userName},
     	      email = #{email},
     	      phone = #{phone},
     	      gender = #{gender},
     		  birth = #{birth}
		where user_id = #{userId}      
  	</update>
  	
  	
  
  </mapper>
