<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="co.nambang.mypage.mapper.mypageMapper">
  
  	<select id ="mypageInfo" parameterType="co.nambang.mypage.vo.mypageVO">
		select *
		from member_ck
		where user_id = #{userId}
  	</select>
  	
  	<update id = "mypageChange" parameterType="co.nambang.mypage.vo.mypageVO">	<!-- 회원 정보 수정 -->
  		update member_ck 
		set user_pw = #{userPw},
     	      user_name = #{userName},
     	      email = #{email},
     	      phone = #{phone},
     	      gender = #{gender},
     		  birth = #{birth}
		where user_id = #{userId}      
  	</update>
  			
  	<select id = "oderDetail" parameterType="co.nambang.mypage.vo.mypageVO">
		select *
		from order_ck
		where user_id = #{userId}
		order by order_no
  	</select>
  	
   	<select id ="currentPw" parameterType="String" resultType="co.nambang.mypage.vo.mypageVO">		<!--비밀번호 확인 중복  -->
  		select user_pw
		from member_ck
		where user_id = #{userId}
        and  user_pw =#{userPw}
  	</select> 
  
  </mapper>
