<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.nambang.product.mapper.ProductMapper">
	<select id="productList" parameterType="co.nambang.product.vo.ProductVO">
   SELECT * FROM (
       SELECT
           p.product_code,
           p.PRODUCT_IMAGE,
           p.COMPANY,
           p.PRODUCT_NAME,
           p.PRICE,
           h.view_cnt,
           ROW_NUMBER() OVER (ORDER BY p.product_code) AS rn
       FROM
           products_ck p
           LEFT JOIN (
               SELECT
                   product_code,
                   COUNT(*) AS view_cnt
               FROM
                   hugi_ck
               GROUP BY
                   product_code
           ) h ON p.product_code = h.product_code
   ) b
    <![CDATA[WHERE b.rn <= (#{page} * 5) ]]>
    AND b.rn > ((#{page} - 1) * 5)
    ORDER BY b.product_code
	</select>

</mapper>