<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.nambang.odproduct.mapper.OdProductMapper">

<select id ="orderHistory" parameterType="co.nambang.odproduct.vo.OdProductVO">
		select A.order_no,
        		  A.user_id,
		          A.op_volume,
		          A.op_price,
		          a.op_no,
		          B.product_image,
		          B.product_code,
		          B.product_name
		from order_product A,
		        products_ck B
		where A.product_code = B.product_code
		and order_no = #{orderNo}
</select>

<insert id="addOdProducts" parameterType="co.nambang.odproduct.vo.OdProductVO">
INSERT INTO order_product(op_no, order_no, product_code, user_id, op_volume, op_price)
SELECT op_seq.nextval, op.* FROM(
	<foreach collection="array" item="item" separator="UNION ALL">
	SELECT  #{item.orderNo} as "order_no",
            #{item.productCode} as "product_code", 
            #{item.userId} as "user_id", 
            #{item.opVolume} as "op_volume", 
            #{item.opPrice} as "op_price" 
            FROM DUAL
	</foreach>
	) op
</insert>

</mapper>